h2 {
  color: #333;
}

input, textarea, select {
  width: 80%;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.btn {
  margin-left: 10px;
  padding: 8px 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  background: #f9f9f9;
  margin: 10px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.important {
  border-left: 5px solid red;
}

.normal {
  border-left: 5px solid orange;
}

.faible {
  border-left: 5px solid green;
}