.product-container {
  background: #f1e5e5b3;       
  border: 1px solid #ddd;   
  border-radius: 8px;        
  padding: 1rem;            
          
  margin:  auto;         
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
}

h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.product {
  margin: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.4;
  color: #555;
}

.product span {
  font-weight: 600;
  color: #222;
}