<form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)">
    <!-- TITLE -->
    <label>title</label><input type="text"    id="title" name="title" #title="ngModel" minlength="3" [(ngModel)]="book.title" pattern="^(?!\d+$).+">
    <div *ngIf="title.invalid && title.dirty">
        <span *ngIf="title.errors?.['required']">Le title est obligatoire.</span>
     <span *ngIf="title.errors?.['minlength']">Le title doit contenir au moins 3 caractères.</span>
    </div>
    <!-- AUTHOR -->
    <label>auteur</label><input type="text"  id="author" name="auteur" #auteur="ngModel" minlength="3" [(ngModel)]="book.author">
    <div *ngIf="auteur.invalid && auteur.dirty">
     <span *ngIf="auteur.errors?.['required']">L'auteur est obligatoire.</span>
     <span *ngIf="auteur.errors?.['minlength']">L'auteur doit contenir au moins 3 caractères.</span>
   </div>
     <!-- EMAIL -->
    <label>publisherEmail</label><input type="mail" id="publisherEmail" name="mail" #publisherEmail="ngModel" email required [(ngModel)]="book.publisherEmail">
    <div *ngIf="publisherEmail.invalid && publisherEmail.dirty ">
     <span *ngIf="publisherEmail.errors?.['required']">L'email est obligatoire.</span>
     <span *ngIf="publisherEmail.errors?.['email']">L'email n'est pas valide.</span>
    </div>
    <!-- PHONE (facultatif + pattern) -->
    <label>publisherPhone</label><input type="tel" id="publisherPhone" name="phone" #publisherPhone="ngModel" pattern="^[0-9]{8}$"   [(ngModel)]="book.publisherPhone">
     <div *ngIf="publisherPhone.invalid && publisherPhone.dirty ">
     <span *ngIf="publisherPhone.errors?.['pattern']">Le numéro doit contenir exactement 8 chiffres.</span>
     </div>
    <!-- RELEASE DATE -->
    <label>releaseDate</label><input type="date"  id="releaseDate" name="date" #date="ngModel" date required  min="1901" [(ngModel)]="book.releaseDate">
      <div *ngIf="date.invalid && date.dirty ">
        <span *ngIf="date.errors?.['required']">La date est obligatoire.</span>
        <span *ngIf="date.errors?.['min']">La date doit être supérieure à 1900.</span>
     </div>
    <!-- CATEGORY -->
    <select  id="category" [(ngModel)]="book.category" #category="ngModel"required  name="category">
       
      <option value="">-- Choisir une catégorie --</option>
      <option value="Roman">Roman</option>
      <option value="Science">Science</option>
      <option value="Histoire">Histoire</option>
      <option value="Informatique">Informatique</option>
      <option value="Art">Art</option>
      <option value="Autres">Autres</option>
    </select>
     <div *ngIf="category.invalid && (category.dirty || category.touched)">
       <span>La catégorie est obligatoire.</span>
     </div>


    <label>isAvailable</label><input type="checkbox"   name="isAvailable" id="isAvailable" [(ngModel)]="book.isAvailable">
    <!-- STOCK -->
    <label>Stock</label>
    <input type="number" name="stock" id="stock" [(ngModel)]="book.stock" #stock="ngModel" min="0" placeholder="Optionnel">
    <div *ngIf="stock.invalid && (stock.dirty || stock.touched)">
      <span *ngIf="stock.errors?.['min']">Le stock doit être supérieur ou égal à 0.</span>
    </div>
    <button type="submit">{{ book.id ? 'Mettre à jour' : 'Ajouter' }}</button>
</form> 
